<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teadocs 论坛系统安装</title>
    <% include ../lib/jquery.html %>
    <% include ../lib/layui.html %>
    <% include ../lib/vue.html %>
    <style>
        body {
            background-color: #F2F2F2;
        }

        .main {
            padding-top: 50px;
            margin-bottom: 50px;
        }

        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="layui-container main"> 

        <div class="layui-row">
            <div class="layui-col-md8 layui-col-md-offset2">
                <h2 class="center">【Teadocs 论坛系统的安装界面】请填写维持站点运行所需的配置信息</h2>
            </div>
        </div>

        <form class="layui-form">
            <!-- 管理员账号密码 -->
            <div class="layui-row" style="margin-top: 40px;">
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-card">
                        <div class="layui-card-header">论坛管理员账号密码</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <label class="layui-form-label">管理员邮箱</label>
                                <div class="layui-input-block">
                                    <input type="text" name="adminUsername" v-model="form.adminUsername" lay-verify="required|email" autocomplete="off" placeholder="请输入管理员邮箱" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">管理员密码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="adminPassword" v-model="form.adminPassword" lay-verify="required|pass" autocomplete="off" placeholder="请输入管理员密码" class="layui-input">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- 邮件配置 -->
            <div class="layui-row">
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-card">
                        <div class="layui-card-header">邮件配置</div>
                        <div class="layui-card-body">

                            <div class="layui-form-item">
                                <label class="layui-form-label">邮件服务器</label>
                                <div class="layui-input-block">
                                    <input type="text" name="emailHost" v-model="form.emailHost" lay-verify="required" autocomplete="off" placeholder="请输入邮件服务器的域名或者ip" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">服务器协议</label>
                                <div class="layui-input-block">
                                    <input type="text" name="emailProtocol" v-model="form.emailProtocol" lay-verify="required" autocomplete="off" placeholder="请输入邮件服务器协议，例如：smtps" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">授权账号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="emailUsername" v-model="form.emailUsername" lay-verify="required" autocomplete="off" placeholder="请输入邮件服务器的账号（一般就是邮箱）" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">授权密码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="emailPassword" v-model="form.emailPassword" lay-verify="required" autocomplete="off" placeholder="请输入邮件服务器的密码（一般是邮箱密码或者授权码）" class="layui-input">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- 站点信息配置 -->
            <div class="layui-row">
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-card">
                        <div class="layui-card-header">站点信息配置</div>
                        <div class="layui-card-body">

                            <div class="layui-form-item">
                                <label class="layui-form-label">站点标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="siteTitle" v-model="form.siteTitle" lay-verify="required" autocomplete="off" placeholder="请输入站点的标题（如：Teanode官方论坛）" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">站点描述</label>
                                <div class="layui-input-block">
                                    <input type="text" name="siteDesc" v-model="form.siteDesc" lay-verify="required" autocomplete="off" placeholder="请输入站点描述" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">站点域名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="siteDomain" v-model="form.siteDomain" lay-verify="required" autocomplete="off" placeholder="请输入站点域名" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">加密因子</label>
                                <div class="layui-input-block">
                                    <input type="text" name="sessionSecret" v-model="form.sessionSecret" lay-verify="required" autocomplete="off" placeholder="用户登录用的加密因子，随机填写即可。" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 提交按钮 -->
            <div class="layui-row" style="margin-top: 30px;">
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <button class="layui-btn" lay-submit="" lay-filter="installAction" >提交信息并安装</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script src="/public/install/pages/install.js"></script>
</body>

</html>